<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

		<resultMap type="Member" id="member_rm">
		<id property="memberNo" column="MEMBER_NO"/>
		
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberPw" column="MEMBER_PW"/>
		<result property="memberNm" column="MEMBER_NM"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberEmail" column="MEMBER_GENDER"/>
		<result property="memberAddr" column="MEMBER_ADDR"/>
		<result property="memberEnrollDate" column="MEMBER_ENROLL_DATE"/>
		<result property="memberStatus" column="MEMBER_STATUS"/>
		<result property="memberGrade" column="MEMBER_GRADE"/>
		<result property="memberType" column="MEMBER_TYPE"/>
	</resultMap>
	
	<!-- 로그인 -->
	<select id="login" parameterType="Member" resultMap="member_rm" >
		 SELECT *
		 FROM EH_MEMBER
		 WHERE MEMBER_ID = #{memberId}
		 AND MEMBER_STATUS = 'Y'
	</select>













</mapper>