<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="placeMapper">

	<resultMap type="VPlace" id="place_rm">
		<id property="placeNo" column="PLACE_NO"/>
		
		<result property="placeTitle" column="PLACE_TITLE"/>
		<result property="placeContent" column="PLACE_CONTENT"/>
		<result property="placeCtreateDate" column="PLACE_CREATE_DT"/>
		<result property="placeModifyDate" column="PLACE_MODIFY_DT"/>
		<result property="location" column="PLACE_LOCATION"/>
		<result property="categoryName" column="PLACE_CATEGORY"/>
		<result property="phone" column="PLACE_PHONE"/>
		<result property="readCount" column="PLACE_READ_COUNT"/>
		<result property="placeDeleteFl" column="PLACE_DELETE_FL"/>
		<result property="latitude" column="LATITUDE"/>
		<result property="longitude" column="LONGITUDE"/>
		<result property="adminNo" column="ADMIN_NO"/>
		<result property="priceRange" column="PRICE_RANGE"/>
		<result property="businessHours" column="BUSINESS_HOURS"/>
		<result property="parking" column="PARKING"/>
		<result property="holiday" column="HOLIDAY"/>
		<result property="enroll" column="ENROLL"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="memberNm" column="MEMBER_NM"/>
		<result property="favoriteCount" column="FAVORITE_COUNT"/>
		<result property="reviewCount" column="REVIEW_COUNT"/>
		<result property="avgRating" column="AVG_RATING"/>
	</resultMap>

	<resultMap type="PAttachment" id="attachment_rm">
		<id property="fileNo" column="PLACE_AT_NO"/>
		
		<result property="filePath" column="PLACE_AT_PATH"/>
		<result property="fileName" column="PLACE_AT_NM"/>
		<result property="fileLevel" column="PLACE_AT_LEVEL"/>
		<result property="placeNo" column="PLACE_NO"/>
	</resultMap>
	
	<!-- 게시판 전체 게시글 수 조회 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM EH_PLACE
		WHERE PLACE_DELETE_FL = 'N'
	</select>

	<!-- 게시글 목록 조회 -->
	<select id="selectList" resultMap="place_rm">
		SELECT *
		FROM EH_PLACE
		WHERE PLACE_DELETE_FL = 'N'
		ORDER BY PLACE_NO DESC
	</select>
	
	
	<select id="selectrastList" resultMap="place_rm">
		SELECT * FROM
		(SELECT ROWNUM, V.*
		FROM
		(SELECT *
		FROM V_PLACE
		WHERE PLACE_DELETE_FL = 'N'
		AND (PLACE_CATEGORY LIKE '%음식점%' OR PLACE_CATEGORY LIKE '%카페%')
		ORDER BY AVG_RATING DESC) V)
		WHERE ROWNUM BETWEEN 1 AND 4
	</select>
	
	<select id="selectbestList" resultMap="place_rm">
		SELECT * FROM
		(SELECT ROWNUM, V.*
		FROM
		(SELECT *
		FROM V_PLACE
		WHERE PLACE_DELETE_FL = 'N'
		AND (PLACE_CATEGORY NOT LIKE '%음식점%' AND PLACE_CATEGORY NOT LIKE '%카페%')
		ORDER BY AVG_RATING DESC) V)
		WHERE ROWNUM BETWEEN 1 AND 4
	</select>
	
	<!-- 썸네일 이미지 목록 조회 -->
	<select id="selectThumbnailList" parameterType="list" resultMap="attachment_rm">
		SELECT * FROM EH_PLACE_ATTACHMENT
		WHERE PLACE_AT_LEVEL = 0
		AND PLACE_NO IN 
		<foreach collection="list" item="item" separator=", " open="(" close=")">
			#{item.placeNo}
		</foreach>
	</select>
	
	<!-- 게시글 상세 조회 -->
	<select id="selectPlace" parameterType="_int" resultMap="place_rm">
		SELECT * 
		FROM EH_PLACE
		WHERE PLACE_DELETE_FL = 'N'
		AND PLACE_NO =  #{placeNo}
	</select>
	
	<!-- 게시글 조회수 증가 -->
	<update id="increaseReadCount" parameterType="_int">
		UPDATE EH_PLACE SET
		PLACE_READ_COUNT = PLACE_READ_COUNT + 1
		WHERE PLACE_NO = #{placeNo}
	</update>

	<select id="selectAttachmentList" parameterType="_int" resultMap="attachment_rm">
		SELECT * FROM EH_PLACE_ATTACHMENT
		WHERE PLACE_NO = #{placeNo}
	</select>

	<!-- 다음 게시글 번호 조회 -->
	<select id="selectNextNo" resultType="_int">
		SELECT SEQ_PL_NO.NEXTVAL FROM DUAL
	</select>

	<!-- 게시글 삽입 -->
	<insert id="insertPlace" parameterType="map">
		INSERT INTO EH_PLACE VALUES
		(#{placeNo}, #{placeTitle}, #{placeContent}, 
		DEFAULT, DEFAULT, #{location}, #{categoryName}, #{phone}, DEFAULT, DEFAULT,
		#{latitude}, #{longitude}, #{adminNo}, #{priceRange}, #{businessHours}, #{parking}, #{holiday},
		#{enroll}, #{enrollContents})
	</insert>

	<!-- 파일 정보 삽입(List 이용) -->
	<insert id="insertAttachmentList" parameterType="list">
	  INSERT INTO EH_PLACE_ATTACHMENT
	  SELECT SEQ_PL_ANO.NEXTVAL, A.* FROM (
     <foreach collection="list" item="item" separator="UNION ALL ">
       SELECT #{item.filePath} PLACE_AT_PATH,
              #{item.fileName} PLACE_AT_NM,
              #{item.fileLevel} PLACE_AT_LEVEL,
              #{item.placeNo} PLACE_NO
        FROM DUAL
     </foreach>
	  ) A
  </insert>

	<!-- 게시글 수정 -->
	<update id="updatePlace" parameterType="Place">
  	UPDATE EH_PLACE SET
  	PLACE_TITLE = #{placeTitle},
  	PLACE_CONTENT = #{placeContent},
  	PLACE_MODIFY_DT = SYSDATE,
  	PLACE_LOCATION = #{location},
  	PLACE_CATEGORY = #{categoryName},
  	PLACE_PHONE = #{phone},
  	LATITUDE = #{latitude},
  	LONGITUDE = #{longitude},
  	PRICE_RANGE = #{priceRange},
  	BUSINESS_HOURS = #{businessHours},
  	PARKING = #{parking},
  	HOLIDAY = #{holiday},
  	ENROLL = #{enroll},
  	ENROLL_CONTENTS = #{enrollContents}
  	WHERE PLACE_NO = #{placeNo}
  </update>

	<update id="updatePAttachment" parameterType="PAttachment">
    UPDATE EH_PLACE_ATTACHMENT SET
    PLACE_AT_PATH = #{filePath},
    PLACE_AT_NM = #{fileName}
    WHERE PLACE_AT_NO = #{fileNo}
  </update>
  
  <!-- 파일 정보 삽입 -->
  <insert id="insertPAttachment" parameterType="PAttachment">
    INSERT INTO EH_PLACE_ATTACHMENT
    VALUES(SEQ_PL_ANO.NEXTVAL, #{filePath}, #{fileName}, #{fileLevel}, #{placeNo})
  </insert>
	
	<delete id="deletePAttachment" parameterType="_int">
		DELETE FROM EH_PLACE_ATTACHMENT
		WHERE PLACE_AT_NO = #{fileNo}
	</delete>
	
	<select id="selectDBFileList" resultType="string">
		SELECT FILE_NAME
		FROM EH_PLACE_ATTACHMENT
		<![CDATA[
		WHERE TO_DATE(SUBSTR(FILE_NAME,0,8),'YYMMDDHH24') < SYSDATE -3
		]]>
	</select>
	
	<update id="deletePlace" parameterType="_int">
		UPDATE EH_PLACE SET
		PLACE_DELETE_FL = 'Y'
		WHERE PLACE_NO = #{placeNo}
	</update>

	<!-- 파일 정보 일괄 삭제 -->
	<delete id="deleteAttachmentList" parameterType="list">
		DELETE FROM EH_PLACE_ATTACHMENT
		WHERE PLACE_AT_NO IN
		<foreach collection="list" item="fileNo" open="(" close=")" separator=",">
			#{fileNo}
		</foreach>
	</delete>

	<!-- 검색 조건에 맞는 게시글 수 조회 -->
	<select id="getSearchListCount" parameterType="SearchPlace" resultType="_int">
		SELECT COUNT(*) FROM V_PLACE
		WHERE PLACE_DELETE_FL = 'N'
		<if test="sv != null"><!-- 검색 내용이 있다면 -->
			<bind name="val" value="'%' + sv + '%'"/>
			AND
			<choose>
				<when test="sk == 'all'">
					(PLACE_TITLE LIKE #{val} OR
					PLACE_CATEGORY LIKE #{val} OR
					PLACE_LOCATION LIKE #{val})
				</when>
				<when test="sk == 'title'">
					PLACE_TITLE LIKE #{val}
				</when>
				<when test="sk == 'category'">
					PLACE_CATEGORY LIKE #{val}
				</when>
				<when test="sk == 'location'">
					PLACE_LOCATION LIKE #{val}
				</when>
			</choose>
		</if>
	</select>
	
	<!-- 검색 조건에 맞는 게시글 목록 조회 -->
	<select id="selectSearchList" parameterType="SearchPlace" resultMap="place_rm">
		SELECT * FROM V_PLACE
		WHERE PLACE_DELETE_FL = 'N'
		<if test="sv != null"><!-- 검색 내용이 있다면 -->
			<bind name="val" value="'%' + sv + '%'"/>
			AND
			<choose>
				<when test="sk == 'all'">
					(PLACE_TITLE LIKE #{val} OR
					PLACE_CATEGORY LIKE #{val} OR
					PLACE_LOCATION LIKE #{val})
				</when>
				<when test="sk == 'title'">
					PLACE_TITLE LIKE #{val}
				</when>
				<when test="sk == 'category'">
					PLACE_CATEGORY LIKE #{val}
				</when>
				<when test="sk == 'location'">
					PLACE_LOCATION LIKE #{val}
				</when>
			</choose>
		</if>
		
		ORDER BY PLACE_NO DESC
	</select>
	



	<!-- 즐겨찾기 여부 확인 -->
   <select id="selectScrapFl" parameterType="map" resultType="_int">
      SELECT COUNT(*) FROM EH_FAVORITE
      WHERE MEMBER_NO = #{memberNo}
      AND PLACE_NO = #{placeNo}
   </select>

   <!-- 즐겨찾기 삽입 -->
   <insert id="insertScrap" parameterType="map">
      INSERT INTO EH_FAVORITE
      VALUES(#{memberNo}, #{placeNo})
   </insert>

   <!-- 즐겨찾기 삭제-->
   <insert id="deleteScrap" parameterType="map">
      DELETE FROM EH_FAVORITE
      WHERE MEMBER_NO = #{memberNo}
      AND PLACE_NO = #{placeNo}
   </insert>

   <!-- 즐겨찾기 카운트 -->
   <select id="selectScrapCount" parameterType="_int" resultType="_int">
      SELECT COUNT(*) FROM EH_FAVORITE
      WHERE PLACE_NO = #{placeNo}
   </select>


</mapper>