<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- DB로 전달 되는 값 중 null이 있으면 에러가 아닌 NULL 자체로 인식 -->
	</settings>

	
	<!-- 별칭 추가 -->
	<typeAliases>
		<typeAlias type="com.kh.ehshe.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.ehshe.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.ehshe.board.model.vo.VBoard" alias="VBoard"/>
		<typeAlias type="com.kh.ehshe.board.model.vo.VBReply" alias="VBReply"/>
		<typeAlias type="com.kh.ehshe.board.model.vo.BReply" alias="BReply"/>
		<typeAlias type="com.kh.ehshe.board.model.vo.Attachment" alias="Attachment"/>
		<typeAlias type="com.kh.ehshe.place.model.vo.VPlace" alias="VPlace"/>
		<typeAlias type="com.kh.ehshe.place.model.vo.Place" alias="Place"/>
		<typeAlias type="com.kh.ehshe.place.model.vo.PAttachment" alias="PAttachment"/>
		<typeAlias type="com.kh.ehshe.shop.model.vo.Shop" alias="Shop"/>
		<typeAlias type="com.kh.ehshe.shop.model.vo.ShopCart" alias="ShopCart"/>
		<typeAlias type="com.kh.ehshe.shop.model.vo.ShopAttachment" alias="ShopAttachment"/>
		<typeAlias type="com.kh.ehshe.shop.model.vo.ShopOption" alias="ShopOption"/>
	</typeAliases>

	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/member-mapper2.xml"/>
		<mapper resource="/mappers/board-mapper.xml"/>
		<mapper resource="/mappers/place-mapper.xml"/>
		<mapper resource="/mappers/shop-mapper.xml"/>
		<mapper resource="/mappers/cart-mapper.xml"/>
	</mappers>
	
	  
</configuration>
