/* 전체 */
.footer_area {
    background-color: #fff;
    max-height: 300px;
    border-top: 1px solid rgba(147, 151, 151, 0.3);
    border-bottom: 1px solid rgba(147, 151, 151, 0.3);
}

/* 상단 80% */
.footer_area .footer_top {
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-bottom: 1px solid rgba(147, 151, 151, 0.3);
   
}

/* 하단 20% */
.footer_area .footer_bottom {
    height: 20%;
    width: 100%;

}

/* 상단 부분 분할 */
.footer_area .footer_top .footer_item:nth-child(1) {
    flex: 0 0 10%;
    border-right: 1px solid rgba(147, 151, 151, 0.3);
    padding-top:10px;
}

.footer_area .footer_top .footer_item:nth-child(2) {
    width: 70%;
    padding-top:10px;
    display: flex;
}

.footer_area .footer_top .footer_item:nth-child(3) {
    width: 20%;
    border-left: 1px solid rgba(147, 151, 151, 0.3);
    padding-top:10px;
}

/* 상단부 */
/* logo */
.footer_area .footer_top .footer_item .logo {
    font-style: italic;
}

/* ehshe 기획팀 */

.footer_area .footer_top .footer_item .team_introduce{
    flex: 0 0 20%;
    font-size:20px;
    font-style: italic;
    font-weight: 600;
}

.footer_area .footer_top .footer_item .list1{
    width:40%;
}
.footer_area .footer_top .footer_item .list2{
    width:40%;
}


.footer_area .footer_top .footer_item .team_list{
    display: flex;
}

.team_member {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.team_member .member_photo {
    flex-shrink:0;
    width: 50px;
    height: 50px;
    border: 2px solid #444;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin-right: 1em;
    background-color: lightblue;
}

.team_member .member_message{
    font-size:12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.team_member .member_message:before{
    content:'💬'
}
    
.footer_area .footer_top .footer_item:nth-child(3) > p{
    padding: 10px 0px;
    font-style: italic;
}



/* 하단부 */
.footer_area .footer_bottom .footer_item2 {
    flex: 1 1 auto;
}

.footer_area .footer_bottom .footer_item2 > p {
    text-align: center;
    vertical-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

/* top 버튼 */
.btn_top{
    position: fixed;
    bottom:210px;
    right:30px;
    height:40px;
    width:40px;
    background: #F5dF4D;
    text-align: center;
    border-radius: 3px;
    cursor:pointer;
    z-index: 20;
}

.btn_top span{
    color:white;
    font-size: 24px;
    line-height: 40px;
}



@media screen and (max-width : 768px){

    .member_message{
        display: none;
    }

    

}
@media screen and (max-width : 870px){
    .footer_area .footer_top .footer_item:nth-child(3){
        border-top : 1px solid rgba(147, 151, 151, 0.3);
        display: flex;
        width:100%;
        justify-content: center;
        align-items: center;
        height: 50px;
    }
    .footer_area .footer_top .footer_item:nth-child(3) > p{
        padding : 0 10px;
    }

}
