





/* 공통 div class */
.inner{
    max-width:1280px;
    margin:auto;
}



/* section - about */
.about-content{
    display: flex;
    padding : 100px 0;
}


.about-content .description{
    text-align:center;
    flex : 3;
}

.about-content .description h4{
    font-size : 30px;
    margin-bottom: 30px;
    font-weight: 400;
}
.about-content .description h4:first-child{
    padding-top:50px;
}
.about-content .description p{
    line-height : 1.5em;
}

.about-content .photo_area{
    flex : 2;
}

.about-content .photo_area img{
    width: 100%;
    border-radius : 20px 0 60px 0;
    box-shadow: 5px 5px 5px rgba(147,149,151, 0.8);

}

.about-content div{
    padding:30px;
}


/* date-introduce section */
.date-introduce{
    height:350px;
    background:url(../images/mainbackground1.jpg) no-repeat center center;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items:center;
    position:relative;
}
.date-introduce:before{
    content: '';
    background :linear-gradient(to right, transparent,rgba(202, 99, 243, 0.76), rgba(231, 231, 31, 0.56));
    width:100%;
    height:100%;
    position:absolute;
}

.date-introduce .date-heading{
    text-align: center;
    position:relative;
}

.date-introduce .date-heading h2{
    color:#fff;
    font-size:30px;
    line-height: 1.3em;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom:30px;
}

.date-introduce .date-heading h2 b{
    font-weight: 500;
}

.date-introduce .date-heading a{
    background-color: #909396;
    color:#fff;
    padding:5px 15px;
    border-radius: 1rem;
    
}




/* section place ranking */

.ranking .inner .ranking-content{
    padding: 100px 0;
}
.ranking .inner .ranking-content h2{
    font-size:30px;
    font-weight: 500;
    margin-bottom : 40px;
}

.ranking .inner .ranking-content .places{
    display:flex;
    justify-content: space-between;
}
.ranking .inner .ranking-content .places .place{
    width:350px;
    height: 400px;
    border-radius: 30px 0px 30px 0px;
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.4);
    overflow:hidden;
}

.places .place .place-image{
    width: 350px;
    height: 250px;
    background-color: #939597;
}

.places .place .place-image img{
    height:100%;
    width: 100%;
}

.places .place .place-description{
    padding : 10px;
    background-color: rgb(245, 223, 77, 0.7);
    height: 100%;
}

.places .place .place-description span{
    
}

.places .place .place-description h3{
    font-size:24px;
    margin : 15px 0;
    letter-spacing: -1;
    font-weight: 400;
    padding-bottom: 5px;
}
.places .place .place-description .view-place{
    color : white;
    font-weight : 500;
    background-color : #939597;
    padding : 5px 10px;
    border-radius: 1rem;
    text-decoration: none;
    transition: 0.4s;
}

.places .place .place-description .view-place:hover{
    margin-left:10px;
}





/* date-introduce section */
.item-introduce{
    height:350px;
    background:url(../images/mainbackground2.jpg) no-repeat center center;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items:center;
    position:relative;
}
.item-introduce:before{
    content: '';
    background :linear-gradient(to left bottom, transparent,rgba(202, 146, 24, 0.76), rgba(231, 231, 31, 0.56));
    width:100%;
    height:100%;
    position:absolute;
}

.item-introduce .item-heading{
    text-align: center;
    position:relative;
}

.item-introduce .item-heading h2{
    color:#fff;
    font-size:30px;
    line-height: 1.3em;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom:30px;
}

.item-introduce .item-heading h2 b{
    font-weight: 500;
}

.item-introduce .item-heading a{
    background-color: #909396;
    color:#fff;
    padding:5px 15px;
    border-radius: 1rem;
    
}


/* 아이템 랭킹 색션 */
/* section ITEM ranking */

.ranking .inner .ranking-content{
    padding: 100px 0;
}
.ranking .inner .ranking-content h2{
    font-size:30px;
    font-weight: 500;
    margin-bottom : 40px;
}

.ranking .inner .ranking-content .citems{
    display:flex;
    justify-content: space-between;
}
.ranking .inner .ranking-content .citems .citem{
    width:350px;
    height: 400px;
    border-radius: 30px 0px 30px 0px;
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.4);
    overflow:hidden;
}

.citems .citem .citem-image{
    width: 350px;
    height: 250px;
    background-color: #F5dF4D;
}

.citems .citem .citem-image img{
    height:100%;
    width: 100%;
}

.citems .citem .citem-description{
    padding-left : 20px;
    background-color: rgba(147,149,151, 0.5);
    height: 100%;
}

.citems .citem .citem-description span{
		padding-top: 5px;
    display:block;
}

.citems .citem .citem-description h4{
    font-size:18px;
    margin : 15px 0;
    letter-spacing: -1;
    font-weight: 400;
    padding-bottom: 5px;
}
.citems .citem .citem-description .view-item{
    color : white;
    font-weight : 500;
    background-color : #F5dF4D;
    padding : 5px 10px;
    border-radius: 1rem;
    text-decoration: none;
    transition: 0.4s;
}

.citems .citem .citem-description .view-item:hover{
    margin-left:10px;
}

@media(max-width:768px){

    .inner{
        width:100%;
        padding : 15px;
        box-sizing: border-box;
    }

    
    .about-content{
        flex-direction:column;
        padding : 50px 0;
    }
    
    /* 장소랭킹 */
    .ranking .inner .ranking-content .places{
        flex-direction: column;
    }
    
    .ranking .inner .ranking-content{
        padding:50px 0;
    }
    
    .ranking .inner .ranking-content .places .place{
        margin : auto;    
        margin-bottom : 20px;
        
    }
    /* 아이템 랭킹 */
    .ranking .inner .ranking-content .citems{
        flex-direction: column;
    }
    
    .ranking .inner .ranking-content .citems .citem{
        margin : auto;    
        margin-bottom : 20px;
        
    }
    .ranking .inner .ranking-content h2{
        text-align: center;
    }
}
