


/* 공통 div class */
.inner{
    width:1280px;
    margin:auto;
}



/* section - about */
.about-content{
    display: flex;
    padding : 100px 0;
}


.about-content .description{
    text-align:center;
    flex : 3;
}

.about-content .description h4{
    font-size : 30px;
    margin-bottom: 30px;
    font-weight: 400;
}
.about-content .description h4:first-child{
    padding-top:50px;
}
.about-content .description p{
    line-height : 1.5em;
}

.about-content .photo_area{
    flex : 2;
}

.about-content .photo_area img{
    width: 100%;
    border-radius : 40% 60% 65% 45% / 50% 45% 55% 60%;

}