.container-fluid {
	margin-top: 15px;
}

.placeReview {
	border-bottom: 2px solid rgb(230, 230, 230);
	margin-bottom: 10px;
	margin-top: 10px;
}

.placeReview img {
	width: 95px;
	height: 95px;
	margin-bottom: 10px;
}

.reviewHeader>div>h6 {
	text-align: right;
}

/* body{
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100vh; 
} */

.star-rating{
    background-color: rgb(190, 190, 190);
    width: 280px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    height :35px;
}
.star-rating div{
    float:left;
    width: 50%;
    
}
.stars{

}
.stars .fa{
    font-size: 20px;
    cursor: pointer;
}
.stars .fa.active{
    color: yellow;
    text-shadow: 0 0 5px;
}

.print{
    color: #fff;
}

.print img{
    vertical-align: middle;
    margin-right: 5px;
    width:23px;
    height:23px;
}

.swal-button {
   background-color: #F5DF4D;
}

.swal-button:not([disabled]):hover {
   background-color: #f0d700;
}

.swal-button:focus {
   box-shadow: 0 0 0 3px #fff;
}