body {
	border-bottom: 1px solid gray;
}

.view-header {
	margin-top: 20px;
	border-bottom: 1px solid rgb(200, 200, 200);
}

.view-header>span:first-child {
	font-size: 1.4em;
	font-weight: bolder;
}

.view-header>span:nth-of-type(2) {
	font-size: 1.2em;
	font-weight: bolder;
	color: red;
}

.view-header>span:nth-of-type(3) {
	float: right;
}

.view-header>span:nth-of-type(n+5) {
	font-size: 0.6em;
}

.view-body td:first-child {
	width: 120px;
}