header{
    position:relative !important;
}

.ehsheYellow{
    background-color: #F5dF4D !important;
}

.boardMain {
    margin-top: 50px;
}

.container-fluid {
    margin-top: 15px;
}

.boardMain h4{
    padding: 25px;
    border-bottom: 1px solid rgb(160, 160, 160);
}


.table1{
    width: 100%;
    height: 100%;
}


.table1 tr{
    height: 50px;
    font-size: 0.95rem;
}

.table1 td:first-child {
    width: 15%;
}


.table1 td:last-child {
    width: 30%;
}

.table1 input{
    height: 32px;
}

.table1 input:not(.addr>td>input){
    width: 80%;
}

.addr>td>input{
    width: 100%;
}


.insert-place{
    justify-content: center; 
}

.name>td{
}

.name>td:nth-of-type(2){
}

.addr>td{
}

.addr>td>button{
    margin-left: 5px;
}

.buttonArea>button{
    justify-content: center; 
}

.buttonArea{
    margin-top: 20px;
    margin-bottom: 200px;
}

.introduceArea{
	margin-top: 60px;
}
.swal-button {
   background-color: #F5DF4D;
}

.swal-button:not([disabled]):hover {
   background-color: #f0d700;
}

.swal-button:focus {
   box-shadow: 0 0 0 3px #fff;
}